@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');

body{
    background-image: url("material/background.jpg");
    background-size: cover;
    overflow: hidden;  
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
}

.back-button {
    background-color: white;
    width: 10vw;
    height: 3.5vw;
    margin-left: 1vw;
    margin-top: 1.5vw;
    border-radius: 1.2vw;
    border: .4vw solid #FFFFFF;
    background: linear-gradient(114.33deg, #DC92FF 0%, #9747FF 99.01%);
    box-shadow: .2vw .2vw 1vw rgba(0, 0, 0, 0.5), inset .1vw .1vw .5vw #FFFFFF;
    text-align: center;
    transition: all 300ms ease-in;
}

.back-button #text {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 1.8vw;
    line-height: 3.5vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    font-weight: 900;
}

.back-button:hover {
    background: linear-gradient(114.33deg, #9747FF 0%, #DC92FF 99.01%);
    box-shadow: .2vw .2vw 1vw rgba(0, 0, 0, 0.5), inset .1vw .1vw .5vw rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-out;
}

.circle-otech {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30vw;
    height: 30vw;
    background-color: rgba(96, 148, 174, 0.75);
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 1vw solid #FFFFFF;
    margin: calc((100vh - 32vw) / 2) auto;
    text-align: center;
    display: flex;
    transition: all 500ms ease-in;
}

.otech-logo {
    position: absolute;
    top: 3vw;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.otech-logo img {
    width: 10vw;
    margin: auto;
}

.usayit-logo img{
    margin-top: -3.3vw;
    width: 16vw;
    position: absolute;
    z-index: 1;
    transition: all 500ms ease-in;
}

.circle {
    background-color: rgb(255, 255, 255);
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5), inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: .5vw solid #000000;
    position: absolute;
    text-align: center;
    transition: all 300ms ease-in;
}

.circle:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #22DDD2 0%, rgba(34, 221, 210, 0) 100%);
    backdrop-filter: blur(10px);
    border-color: #FFFFFF;
    transition: all 300ms ease-out;
}

.circle #core {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation: orbit 7s linear infinite;
    opacity: 0%;
    transition: all 300ms ease-in;
}

.circle:hover #core {
    transition: all 300ms ease-out;
    opacity: 100%;
}

.circle:hover #circle-text {
    cursor: pointer;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-out;
}

#circle-text{
    color: #000000;
    font-family: 'Montserrat';
    font-size: 1.8vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in;
}

#core-div {
    position: absolute;
    width: 5.5vw;
    height: 5.5vw;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: .3vw solid #FFFFFF;
    animation: orbit 7s linear reverse infinite;
    transition: all 500ms ease-in;
}

#core-text {
    font-family: 'Montserrat';
    font-size: 1.5vw;
    color: #FFFFFF;
    line-height: 5.5vw;
}

.circle-uiux {
    width: 9vw;
    height: 9vw;
    margin-top: 1.5vw;
    margin-left: 24vw;
}

.circle-uiux span {
    line-height: 9vw;
}

.vic {
    bottom: 25%;
    right: 12vw;
    transform-origin: calc(200px,50%);
    background: linear-gradient(114.33deg, #e44c3e 0%, #292173 99.01%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 5px #000000;
}

.mal {
    bottom: 25%;
    left: 12vw;
    transform-origin: calc(200px,50%);
    background: linear-gradient(114.33deg, #004cff 0%, #004cff 99.01%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 5px #000000;
}

.circle-frontend {
    width: 12vw;
    height: 12vw;
    margin-top: 15vw;
    margin-left: -7vw;
}

.circle-frontend span {
    line-height: 12vw;
}

.zka {
    top: -75%;
    right: 25%;
    background: linear-gradient(114.33deg, #ec005a 0%, #4c0086 99.01%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 2px 2px 5px #000000;
}

.vno {
    top: 75%;
    left: 110%;
    background: linear-gradient(114.33deg, #c8c8c8 0%, #1b4d5f 99.01%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 2px 2px 5px #000000;
}

.lee {
    top: 75%;
    left: -60%;
    background: linear-gradient(114.33deg, #9A8478 0%, #1E130C 99.01%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 2px 2px 5px #000000;
}

.circle-backend {
    width: 11vw;
    height: 11vw;
    margin-top: 22vw;
    margin-left: 20vw;
}

.circle-backend span {
    line-height: 11vw;
}

.mik {
    bottom: 25%;
    left: 14vw;
    transform-origin: calc(200px,50%);
    background: linear-gradient(114.33deg, #ff0000 0%, #00005f 99.01%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 2px 2px 5px #000000;
}

.lim {
    bottom: 25%;
    right: 14vw;
    background: linear-gradient(114.33deg, #00eaff 0%, #004869 99.01%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 2px 2px 5px #000000;
}

@keyframes orbit {
    0% {
        transform: rotate(0deg) ;
    }
    100% {
        transform: rotate(360deg);
    }
}

.bg-card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
}

.close {
    position: absolute;
    color: #FFFFFF;
    font-size: 10vw;
    font-weight: 900;
    width: fit-content;
    height: fit-content;
    line-height: 0.5;
    margin-top: 3vw;
    margin-left: 3vw;
    text-shadow: 0px 0px 25px #FFFFFF;
}

#card {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.socmed {
    position: absolute;
    z-index: 1;
}

/* .popup-modal {
    width: 1440px;
    height: 700px;
}

.popup-modal #popup-frontend{
    position: absolute;
    top: 0%;
    left: 0;
    background: rgba(0, 0, 0, 0.95);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-modal #popup-frontend span{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 50px;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;
    background-color: rgb(255, 255, 255, 0);
    border: 5px solid rgb(255, 255, 255, 0);
    text-align: center;
    z-index: 100;
}

.popup-modal #popup-frontend #popup-backBtn span{
    background-color: rgb (0,0,0,0);
}
.popup-modal #popup-frontend #grouptag span{
    cursor: default;
    top: 10px;
    left: 900px;
    font-size: 75PX;
}

#ig-img {
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 0%;
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 0 auto;
}

.popup-modal #popup-frontend #dylee img{
    margin-top: 240px;
    position: absolute;
    left: 100px;
    width: 720px;
}

.popup-modal #popup-frontend  #ig-buttondylee {
    background-color: #FFFFFF;
    border: 4px solid #E25B5B;
    box-shadow: var(--igBS_b);
    display: flex;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-left: 540px;
    margin-top: 615px;
}

.popup-modal #popup-frontend #deva img{
    margin-top: -110px;
    position: absolute;
    left: 100px;
    width: 720px;
}
.popup-modal #popup-frontend  #ig-buttondeva {
    background-color: #FFFFFF;
    border: 4px solid #E25B5B;
    box-shadow: var(--igBS_b);
    display: flex;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-left: 540px;
    margin-top: 260px;
}

.popup-modal #popup-frontend #azka img{
    width: 820px;
    top: 80px;
    left: 600px;
    position: absolute;
}

.popup-modal #popup-frontend  #ig-buttonazka {
    background-color: #FFFFFF;
    border: 4px solid #E25B5B;
    box-shadow: var(--igBS_b);
    display: flex;
    height: 45px;
    width: 45px;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-left: 1240px;
    margin-top: 515px;
}

.popup-modal #popup-backend{
    position: absolute;
    top: 0%;
    left: 0;
    background: rgba(0, 0, 0, 0.95);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.popup-modal #popup-backend span{
    position: absolute;
    cursor:pointer;
    top: 0;
    left: 50px;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;
    background-color: rgb(255, 255, 255, 0);
    border: 5px solid rgb(255, 255, 255, 0);
    text-align: center;
    z-index: 100;
}
.popup-modal #popup-backend #popup-backBtn span{
    background-color: rgb 0,0,0,0;
}
.popup-modal #popup-backend #grouptag span{
    top: 15px;
    left: 800px;
    font-size: 75PX;
    cursor: default;
}
.popup-modal #popup-backend img{
    position: absolute;
    left: 5%;
    width: 720px;
}
.popup-modal #popup-backend #talim img{
    top: 25px;
    left: 100px;
    width: 800px;
}
.popup-modal #popup-backend #mikail img{
    top: 25px;
    left: 600px;
    width: 800px;
}
.popup-modal #popup-uiux{
    position: absolute;
    top: 0%;
    left: 0;
    background: rgba(0, 0, 0, 0.95);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.popup-modal #popup-uiux span{
    position: absolute;
    cursor:pointer;
    top: 0;
    left: 50px;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;
    background-color: rgb(255, 255, 255, 0);
    border: 5px solid rgb(255, 255, 255, 0);
    text-align: center;
    z-index: 100;
}
.popup-modal #popup-uiux #popup-backBtn span{
    background-color: rgb 0,0,0,0;
}
.popup-modal #popup-uiux #grouptag span{
    top: 10px;
    left: 900px;
    font-size: 75px;
    cursor: default;
}

.popup-modal #popup-uiux #calzy img{
    top: 25px;
    left: 100px;
    width: 800px;
    position: absolute;
    width: 720px;
}
.popup-modal #popup-uiux #adit img{
    top: 25px;
    left: 600px;
    width: 800px;
    position: absolute;
    width: 720px;
}
.popup-modal #popup-uiux  #ig-buttonadit {
    background-color: #FFFFFF;
    border: 4px solid #E25B5B;
    box-shadow: var(--igBS_b);
    display: flex;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-left: 1190px;
    margin-top: 420px;
}
.popup-modal #popup-uiux  #ig-buttonakmal {
    background-color: #FFFFFF;
    border: 4px solid #E25B5B;
    box-shadow: var(--igBS_b);
    display: flex;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-left: 550px;
    margin-top: 420px;
} */