<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor fetching api by muhammad mikail asada</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <img id="ig-prev" src="" alt="">
    <input id="textt" type="text">
    <button id="post"> submit </button>
    <script>
        let igPrev = document.getElementById("ig-prev");
        let submit = document.getElementById("post");

        submit.addEventListener('click', () => {
            let apage = document.getElementById("textt").value;
            axios.post("https://usayit-api.herokuapp.com/api/igPreview", {
            "text": apage
            }).then((res) => {
                console.log(res.data.resCode)
                igPrev.src = res.data.image
            }).catch((err) => {
                console.log(err.response.status)
            })
        })

        
    </script>
</body>

</html>