<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Assets/credit-style.css">
    <link rel ="icon" href ="Assets/material/usayit-icon.png" type = "image/x-icon">
    <title>uSayit | Credits</title>
</head>
<body>
    <div class="container">
        <a href="index.html">
            <div class="back-button"><span id="text">< BACK</span></div>
        </a>

        <a href="index.html">
            <div class="home-button"><img src="Assets/material/home.png"></div>
        </a>
         
        <div class="circle-otech">
            <div class="otech-logo"><img src="Assets/material/otech-logo.png" draggable="false"></div> 
            <div class="usayit-logo"><img src="Assets/material/usayit-logo.png" draggable="false"></div>
            <div class="circle circle-uiux">
                <span id="circle-text">UI/UX</span>
                <div id="core">
                    <div class="vic" id="core-div">
                        <span id="core-text">VIC</span>
                    </div>
                    <div class="mal" id="core-div">
                        <span id="core-text">MAL</span>
                    </div>
                </div>
            </div>
            
            <div class="circle circle-frontend">
                <span id="circle-text">Front End</span>
                <div id="core">
                    <div class="zka" id="core-div">
                        <span id="core-text">ZKA</span>
                    </div>
                    <div class="vno" id="core-div">
                        <span id="core-text">VNO</span>
                    </div>
                    <div class="lee" id="core-div">
                        <span id="core-text">LEE</span>
                    </div>
                </div>
            </div>
            
            <div class="circle circle-backend">
                <span id="circle-text">Back End</span>
                <div id="core">    
                    <div class="mik" id="core-div">
                        <span id="core-text">MIK</span>
                    </div>
                    <div class="lim" id="core-div">
                        <span id="core-text">LIM</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-card">
            <div class="close">&times;</div>
            <div class="fe-card">
                <div class="title-card">FRONT-END TEAM</div>
                <div class="card" id="deva-card">
                    <img src="Assets/material/namecard/DEVA.png" draggable="false">
                    <div class="socmed">
                        <a href="https://www.instagram.com/cho.syambara" target="_blank"><div class="btn ig"><img src="Assets/material/ig.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="card" id="dylee-card">
                    <img src="Assets/material/namecard/DYLEE.png" draggable="false">
                    <div class="socmed">
                        <a href="https://www.instagram.com/_iinnakad" target="_blank"><div class="btn ig"><img src="Assets/material/ig.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="card" id="azka-card">
                    <img src="Assets/material/namecard/AZKA.png" draggable="false">
                    <div class="socmed">
                        <a href="https://github.com/zkazharan" target="_blank"><div class="btn gh"><img src="Assets/material/gh.svg" draggable="false"></div></a>
                        <a href="https://www.instagram.com/zkazharan" target="_blank"><div class="btn ig"><img src="Assets/material/ig.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="fe-otech-logo logo-card"><img src="Assets/material/otech-logo2.png" draggable="false"></div>
            </div>
            <div class="be-card">
                <div class="title-card">BACK-END TEAM</div>
                <div class="card" id="talim-card">
                    <img src="Assets/material/namecard/TALIM.png" draggable="false">
                    <div class="socmed">
                        <a href="https://github.com/ta-lim" target="_blank"><div class="btn gh"><img src="Assets/material/gh.svg" draggable="false"></div></a>
                        <a href="https://www.linkedin.com/in/muhamad-talim" target="_blank"><div class="btn li"><img src="Assets/material/li.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="card" id="mikail-card">
                    <img src="Assets/material/namecard/MIKAIL.png" draggable="false">
                    <div class="socmed">
                        <a href="https://github.com/asadaaaaa" target="_blank"><div class="btn gh"><img src="Assets/material/gh.svg" draggable="false"></div></a>
                        <a href="https://linktr.ee/mikailasada" target="_blank"><div class="btn lt"><img src="Assets/material/lt.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="beui-otech-logo logo-card"><img src="Assets/material/otech-logo2.png" draggable="false"></div>
            </div>
            <div class="ui-card">
                <div class="title-card">UI / UX TEAM</div>
                <div class="card" id="calzy-card">
                    <img src="Assets/material/namecard/CALZY.png" draggable="false">
                    <div class="socmed">
                        <a href="https://www.instagram.com/calzkmal" target="_blank"><div class="btn ig"><img src="Assets/material/ig.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="card" id="adit-card">
                    <img src="Assets/material/namecard/ADITYA.png" draggable="false">
                    <div class="socmed">
                        <a href="https://www.instagram.com/victo_ryusei" target="_blank"><div class="btn ig"><img src="Assets/material/ig.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="beui-otech-logo logo-card"><img src="Assets/material/otech-logo2.png" draggable="false"></div>
            </div>
        </div>
    </div>

    <script>

        let uiuxCircle = document.querySelector('.circle-uiux');
        let uiuxText = document.querySelector('.circle-uiux #circle-text');
        let uiuxClick = false;
        let feCircle = document.querySelector('.circle-frontend');
        let feText = document.querySelector('.circle-frontend #circle-text');
        let feClick = false;
        let beCircle = document.querySelector('.circle-backend');
        let beText = document.querySelector('.circle-backend #circle-text');
        let beClick = false;
        let bgCard = document.querySelector('.bg-card');
        let uiuxCard = document.querySelector('.ui-card');
        let feCard = document.querySelector('.fe-card');
        let beCard = document.querySelector('.be-card');

        if (window.screen.availWidth <= 575) {

            uiuxCircle.addEventListener('click', function(){

                uiuxCircle.style.marginTop = '95vw';
                uiuxCircle.style.marginLeft = '41vw';
                uiuxCircle.style.width = '15vw';
                uiuxCircle.style.height = '15vw';
                uiuxText.style.lineHeight = '15vw';
                uiuxText.style.fontSize = '2.5vw';
                if (uiuxClick === false ) {
                    uiuxCircle.style.background = 'linear-gradient(115.08deg, #75FFF7 0%, #002966 100%)';
                    uiuxCircle.style.borderColor = '#FFFFFF';
                    uiuxText.style.color = '#FFFFFF';
                    uiuxCard.style.display = 'block';
                    uiuxClick = true;
                } else {
                    uiuxCircle.style.background = '#FFFFFF';
                    uiuxCircle.style.borderColor = '#000000';
                    uiuxText.style.color = '#000000';
                    uiuxCard.style.display = 'none';
                    uiuxClick = false;
                }

                feCircle.style.marginTop = '85vw';
                feCircle.style.marginLeft = '70vw';
                feCircle.style.width = '13vw';
                feCircle.style.height = '13vw';
                feText.style.lineHeight = '13vw';
                feText.style.fontSize = '2.3vw';
                if (feClick === true) {
                    feCircle.style.background = '#FFFFFF';
                    feCircle.style.borderColor = '#000000';
                    feText.style.color = '#000000';
                }
                feClick = false;

                beCircle.style.marginTop = '85vw';
                beCircle.style.marginLeft = '13vw';
                beCircle.style.width = '13vw';
                beCircle.style.height = '13vw';
                beText.style.lineHeight = '13vw';
                beText.style.fontSize = '2.3vw';
                if (beClick === true) {
                    beCircle.style.background = '#FFFFFF';
                    beCircle.style.borderColor = '#000000';
                    beText.style.color = '#000000';
                }
                beClick = false;

                bgCard.style.display = 'block';
                feCard.style.display = 'none';
                beCard.style.display = 'none';
                
            });

            feCircle.addEventListener('click', function(){

                feCircle.style.marginTop = '95vw';
                feCircle.style.marginLeft = '41vw';
                feCircle.style.width = '15vw';
                feCircle.style.height = '15vw';
                feText.style.lineHeight = '15vw';
                feText.style.fontSize = '2.5vw';
                if (feClick === false ) {
                    feCircle.style.background = 'linear-gradient(115.08deg, #FF008A 14.83%, #002966 100%)';
                    feCircle.style.borderColor = '#FFFFFF';
                    feText.style.color = '#FFFFFF';
                    feCard.style.display = 'block';
                    feClick = true;
                } else {
                    feCircle.style.background = '#FFFFFF';
                    feCircle.style.borderColor = '#000000';
                    feText.style.color = '#000000';
                    feCard.style.display = 'none';
                    feClick = false;
                }

                beCircle.style.marginTop = '85vw';
                beCircle.style.marginLeft = '70vw';
                beCircle.style.width = '13vw';
                beCircle.style.height = '13vw';
                beText.style.lineHeight = '13vw';
                beText.style.fontSize = '2.3vw';
                if (beClick === true) {
                    beCircle.style.background = '#FFFFFF';
                    beCircle.style.borderColor = '#000000';
                    beText.style.color = '#000000';
                }
                beClick = false;

                uiuxCircle.style.marginTop = '85vw';
                uiuxCircle.style.marginLeft = '13vw';
                uiuxCircle.style.width = '13vw';
                uiuxCircle.style.height = '13vw';
                uiuxText.style.lineHeight = '13vw';
                uiuxText.style.fontSize = '2.3vw';
                if (uiuxClick === true) {
                    uiuxCircle.style.background = '#FFFFFF';
                    uiuxCircle.style.borderColor = '#000000';
                    uiuxText.style.color = '#000000';
                }
                uiuxClick = false;

                bgCard.style.display = 'block';
                uiuxCard.style.display = 'none';
                beCard.style.display = 'none';
                
            });
            
            beCircle.addEventListener('click', function(){

                beCircle.style.marginTop = '95vw';
                beCircle.style.marginLeft = '41vw';
                beCircle.style.width = '15vw';
                beCircle.style.height = '15vw';
                beText.style.lineHeight = '15vw';
                beText.style.fontSize = '2.5vw';
                if (beClick === false ) {
                    beCircle.style.background = 'linear-gradient(115.08deg, #6EA200 0%, #002966 100%)';
                    beCircle.style.borderColor = '#FFFFFF';
                    beText.style.color = '#FFFFFF';
                    beCard.style.display = 'block';
                    beClick = true;
                } else {
                    beCircle.style.background = '#FFFFFF';
                    beCircle.style.borderColor = '#000000';
                    beText.style.color = '#000000';
                    beCard.style.display = 'none';
                    beClick = false;
                }

                uiuxCircle.style.marginTop = '85vw';
                uiuxCircle.style.marginLeft = '70vw';
                uiuxCircle.style.width = '13vw';
                uiuxCircle.style.height = '13vw';
                uiuxText.style.lineHeight = '13vw';
                uiuxText.style.fontSize = '2.3vw';
                if (uiuxClick === true) {
                    uiuxCircle.style.background = '#FFFFFF';
                    uiuxCircle.style.borderColor = '#000000';
                    uiuxText.style.color = '#000000';
                }
                uiuxClick = false;

                feCircle.style.marginTop = '85vw';
                feCircle.style.marginLeft = '13vw';
                feCircle.style.width = '13vw';
                feCircle.style.height = '13vw';
                feText.style.lineHeight = '13vw';
                feText.style.fontSize = '2.3vw';
                if (feClick === true) {
                    feCircle.style.background = '#FFFFFF';
                    feCircle.style.borderColor = '#000000';
                    feText.style.color = '#000000';
                }
                feClick = false;

                bgCard.style.display = 'block';
                uiuxCard.style.display = 'none';
                feCard.style.display = 'none';

            });

        } else {

            uiuxCircle.addEventListener('click', function(){

                bgCard.style.display = 'block';
                uiuxCard.style.display = 'block';

            });

            feCircle.addEventListener('click', function(){

                bgCard.style.display = 'block';
                feCard.style.display = 'block';

            });

            beCircle.addEventListener('click', function(){

                bgCard.style.display = 'block';
                beCard.style.display = 'block';

            });

            document.querySelector('.close').addEventListener('click', function(){

                bgCard.style.display = 'none';
                feCard.style.display = 'none';
                beCard.style.display = 'none';
                uiuxCard.style.display = 'none';

            });

        }
    </script>
</body>
</html>
