<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="credit-style.css">
    <link rel="script" href="script.js">
    <title>Contributor</title>
</head>
<body>
    <div class="container">
        <div class="back-button">
            <a href="message.html">
                <span id="text">
                    < BACK
                 
                </span>
            </a>
        </div>
        <div class="usayit-logo">
            <img src="material/usayit-logo.png">
        </div> 
        <div class="circle-otech">
            <div class="otech ologo" align="center">
                <img src="material/otech-logo.png">
            </div> 
       
            <div class="circle-uiux">
                <span id="text-uiux">
                    UI/UX
                </span>
                <div id="core-uiux">
                    <div class="uc vic">
                        <span id="uc-vic">
                            VIC
                        </span>
                    </div>
                    <div class="uc mal">
                        <span id="uc-mal">
                            MAL
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="circle-frontend">
                    <span id="text-fe">
                        Front End
                    </span>
                <div id="core-frontend">
                    <div class="fc zka">
                        <span id="fc-zka">
                            ZKA
                        </span>
                    </div>
                    <div class="fc vno">
                        <span id="fc-vno">
                            VNO
                        </span>
                    </div>
                    <div class="fc lee">
                        <span id="fc-lee">
                            LEE
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="circle-backend">
                <span id="text-be">
                    Back End
                </span>
                <div id="core-backend">    
                    <div class="bc mik">
                        <span id="bc-mik">
                            MIK
                        </span>
                    </div>
                    <div class="bc lim">
                        <span id="bc-lim">
                            LIM
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-modal">
        <div id="popup-frontend">
            <div class="popup-fbackButton">
                <div id="popup-fbackBtn">
                    <span id="Text">
                        &times;
                    </span>
                </div>
            </div>
            
                <il id="deva"><img src="material/DEVA.png" alt=""></il>
                <il id="dylee"><img src="material/DYLEE.png" alt=""></il>
                <il id="azka"><img src="material/AZKA.png" alt=""></il>
                <il id="grouptag"><span>FRONT-END TEAM</span></il>

                <a href="https://www.instagram.com/cho.syambara/">   
                    <div id="ig-buttondeva">
                            <img id="ig-img" src="material/ig.svg" alt="">
                    </div>
                </a>

                <a href="https://www.instagram.com/_iinnakad/">   
                    <div id="ig-buttondylee">
                            <img id="ig-img" src="material/ig.svg" alt="">
                    </div>
                </a>

                <a href="https://www.instagram.com/zkazharan/">   
                    <div id="ig-buttonazka">
                            <img id="ig-img" src="material/ig.svg" alt="">
                    </div>
                </a>
            
        </div>

        <div id="popup-backend">
            <div class="popup-bbackButton">
                <div id="popup-bbackBtn">
                    <span id="Text">
                        &times;
                    </span>
                </div>
            </div>
            <div class="back-endGank">
                <il id="mikail"><img src="material/MIKAIL.png"></il>
                <il id="talim"><img src="material/TALIM.png"></il>
                <il id="grouptag"><span>BACK-END TEAM</span></il>
            </div>
        </div>

        <div id="popup-uiux">
            <div class="popup-ubackButton">
                <div id="popup-ubackBtn">
                    <span id="Text">
                        &times;
                    </span>
                </div>
            </div>

                <il id="adit"><img src="material/ADITYA.png"></il>
                <il id="calzy"><img src="material/CALZY.png"></il>
                <il id="grouptag"><span>UI-UX TEAM</span></il>

                <a href="https://www.instagram.com/dit_aspd/">   
                    <div id="ig-buttonadit">
                            <img id="ig-img" src="material/ig.svg" alt="">
                    </div>
                </a>

                <a href="https://www.instagram.com/calzkmal/">   
                    <div id="ig-buttonakmal">
                            <img id="ig-img" src="material/ig.svg" alt="">
                    </div>
                </a>
        </div>
    </div>

    <script>
            document.getElementById('core-frontend').addEventListener('click', function(){
                document.querySelector('#popup-frontend').style.display = 'block';
            });
            document.querySelector('.popup-fbackButton').addEventListener('click', function(){
                document.querySelector('#popup-frontend').style.display = 'none';
            });
            
            document.getElementById('core-backend').addEventListener('click', function(){
                document.querySelector('#popup-backend').style.display = 'block';
            });
            document.querySelector('.popup-bbackButton').addEventListener('click', function(){
                document.querySelector('#popup-backend').style.display = 'none';
            });

            document.getElementById('core-uiux').addEventListener('click', function(){
                document.querySelector('#popup-uiux').style.display = 'block';
            });
            document.querySelector('.popup-ubackButton').addEventListener('click', function(){
                document.querySelector('#popup-uiux').style.display = 'none';
            });
    </script>
</body>
</html>