<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Assets/credit-style.css">
    <title>Contributor</title>
</head>
<body>
    <div class="container">
        <a href="index.html">
            <div class="back-button"><span id="text">< BACK</span></div>
        </a>
         
        <div class="circle-otech">
            <div class="otech-logo"><img src="Assets/material/otech-logo.png" draggable="false"></div> 
            <div class="usayit-logo"><img src="Assets/material/usayit-logo.png" draggable="false"></div>
            <div class="circle circle-uiux">
                <span id="circle-text">UI/UX</span>
                <div id="core">
                    <div class="vic" id="core-div">
                        <span id="core-text">VIC</span>
                    </div>
                    <div class="mal" id="core-div">
                        <span id="core-text">MAL</span>
                    </div>
                </div>
            </div>
            
            <div class="circle circle-frontend">
                <span id="circle-text">Front End</span>
                <div id="core">
                    <div class="zka" id="core-div">
                        <span id="core-text">ZKA</span>
                    </div>
                    <div class="vno" id="core-div">
                        <span id="core-text">VNO</span>
                    </div>
                    <div class="lee" id="core-div">
                        <span id="core-text">LEE</span>
                    </div>
                </div>
            </div>
            
            <div class="circle circle-backend">
                <span id="circle-text">Back End</span>
                <div id="core">    
                    <div class="mik" id="core-div">
                        <span id="core-text">MIK</span>
                    </div>
                    <div class="lim" id="core-div">
                        <span id="core-text">LIM</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-card">
            <div class="close">&times;</div>
            <div class="fe-card">
                <div class="title-card">FRONT-END TEAM</div>
                <div class="card" id="deva-card">
                    <img src="Assets/material/namecard/DEVA.png" draggable="false">
                    <div class="socmed">
                        <a href="https://www.instagram.com/cho.syambara" target="_blank"><div class="btn ig"><img src="Assets/material/ig.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="card" id="dylee-card">
                    <img src="Assets/material/namecard/DYLEE.png" draggable="false">
                    <div class="socmed">
                        <a href="https://www.instagram.com/_iinnakad" target="_blank"><div class="btn ig"><img src="Assets/material/ig.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="card" id="azka-card">
                    <img src="Assets/material/namecard/AZKA.png" draggable="false">
                    <div class="socmed">
                        <a href="https://github.com/zkazharan" target="_blank"><div class="btn gh"><img src="Assets/material/gh.svg" draggable="false"></div></a>
                        <a href="https://www.instagram.com/zkazharan" target="_blank"><div class="btn ig"><img src="Assets/material/ig.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="fe-otech-logo logo-card"><img src="Assets/material/otech-logo2.png" draggable="false"></div>
            </div>
            <div class="be-card">
                <div class="title-card">BACK-END TEAM</div>
                <div class="card" id="talim-card">
                    <img src="Assets/material/namecard/TALIM.png" draggable="false">
                    <div class="socmed">
                        <a href="https://github.com/ta-lim" target="_blank"><div class="btn gh"><img src="Assets/material/gh.svg" draggable="false"></div></a>
                        <a href="https://www.linkedin.com/in/muhamad-talim" target="_blank"><div class="btn li"><img src="Assets/material/li.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="card" id="mikail-card">
                    <img src="Assets/material/namecard/MIKAIL.png" draggable="false">
                    <div class="socmed">
                        <a href="https://github.com/asadaaaaa" target="_blank"><div class="btn gh"><img src="Assets/material/gh.svg" draggable="false"></div></a>
                        <a href="https://linktr.ee/mikailasada" target="_blank"><div class="btn lt"><img src="Assets/material/lt.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="beui-otech-logo logo-card"><img src="Assets/material/otech-logo2.png" draggable="false"></div>
            </div>
            <div class="ui-card">
                <div class="title-card">UI / UX TEAM</div>
                <div class="card" id="calzy-card">
                    <img src="Assets/material/namecard/CALZY.png" draggable="false">
                    <div class="socmed">
                        <a href="https://www.instagram.com/calzkmal" target="_blank"><div class="btn ig"><img src="Assets/material/ig.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="card" id="adit-card">
                    <img src="Assets/material/namecard/ADITYA.png" draggable="false">
                    <div class="socmed">
                        <a href="https://www.instagram.com/victo_ryusei" target="_blank"><div class="btn ig"><img src="Assets/material/ig.svg" draggable="false"></div></a>
                    </div>
                </div>
                <div class="beui-otech-logo logo-card"><img src="Assets/material/otech-logo2.png" draggable="false"></div>
            </div>
        </div>
    </div>

    <script>
            document.querySelector('.circle-uiux').addEventListener('click', function(){
                document.querySelector('.bg-card').style.display = 'block';
                document.querySelector('.ui-card').style.display = 'block';
            });

            document.querySelector('.circle-frontend').addEventListener('click', function(){
                document.querySelector('.bg-card').style.display = 'block';
                document.querySelector('.fe-card').style.display = 'block';
            });
            
            document.querySelector('.circle-backend').addEventListener('click', function(){
                document.querySelector('.bg-card').style.display = 'block';
                document.querySelector('.be-card').style.display = 'block';
            });

            document.querySelector('.close').addEventListener('click', function(){
                document.querySelector('.bg-card').style.display = 'none';
                document.querySelector('.fe-card').style.display = 'none';
                document.querySelector('.be-card').style.display = 'none';
                document.querySelector('.ui-card').style.display = 'none';
            });
    </script>
</body>
</html>
