<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uSay!t</title>
    <link href="index-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <img src="material/LandingPage-material/Logo.png" class="logo"/>
        <section class="platform">
            <h2>Available Platform</h2>
            <div class="button">
                <div class="twitter">
                    <img src="material/twt.svg">
                </div>
                <div class="instagram">
                    <img src="material/instagram.svg">
                </div>
                
            </div>
            
        </section>
    </header>
    <!-- <div class="content">
        <div class="popText">
            <p>SHARE WHATEVER YOU WANT</p>
            <p>WITH THIS BUTTON</p> 
        </div>    
    </div> -->
    
</body>
</html>