@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

body {
    background-image: url(material/background.jpg);
    background-size: cover;
    font-family: 'Montserrat';
}

.header .logo {
    width: 22vw;
    position: absolute;
    top: 3vw;
    left: 3vw;
}

.platform {
    position: absolute;
    top: 3vw;
    right: 3vw;
}

.platform h2 {
    width: 20vw;
    font-size: 1.5vw;
    font-weight: 700;
    text-align: center;
    border: 5px solid #000000;
    padding: 10px 20px;
    border-radius: 40px;
    background: #FFFFFF;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35), inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.button {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
}

.twitter {
    position: relative;
    background-color: #FFFFFF;
    height: 4vw;
    width: 4vw;
    border-radius: 100%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(63, 163, 255, 0.5), inset 5px 5px 10px rgba(255, 255, 255, 0.25);
}

.twitter img {
    width: 2.5vw;
    margin: auto;
}

.twitter:hover {
    cursor: pointer;
    background-color: #3FA3FF;
    border: 4px solid #FFFFFF;
    box-shadow: 2px 2px 10px rgba(63, 163, 255, 0.5), inset 2px 2px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
}

.twitter:hover img {
    filter: brightness(0) invert(1) drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
    animation: bounce 1.25s ease-out;
}

.instagram {
    position: relative;
    margin-left: 3vw;
    background-color: #FFFFFF;
    height: 4vw;
    width: 4vw;
    border-radius: 100%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(226, 91, 91, 0.5), inset 5px 5px 10px rgba(255, 255, 255, 0.25);
}

.instagram img {
    width: 2.25vw;
    margin: auto;
}

.instagram:hover {
    cursor: pointer;
    background-color: #E25B5B;
    border: 4px solid #FFFFFF;
    box-shadow: 2px 2px 10px rgba(226, 91, 91, 0.5), inset 2px 2px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
}

.instagram:hover img {
    filter: brightness(0) invert(1) drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
    animation: bounce 1.25s ease-out;
}

@keyframes bounce {
    0%,
    20%,
    60% {
        transform: scale(1.03);
    }
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-3px) scale(1.07);
    }
    80% {
        transform: translateY(-2px) scale(1.05);
    }
}

.saywhat {
    opacity: 0.5;
    animation: fade-inout 3s infinite alternate;
    
    color: #ffff;
    font-size: 25pt;
    font-weight: bold; 
    text-shadow: 2px 2px 8px #333333; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px
}

.saywhat span {
    font-size: 36pt;
}

@keyframes fade-inout {
    0%{opacity: 1;}
    30%{opacity: 0;}
}

.goMessage {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 26.3vw;
}

.goMessage:hover {
    cursor: pointer;
    
    filter: brightness(1) invert(1)
    /* animation: bounce 1s ease-out; */
}

/* @keyframes bounce {
    0%,
    20%,
    60% {
        transform: scale(1.07);
    }
    100% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-3px) scale(1.03);
    }
    80% {
        transform: translateY(-2px) scale(1.05);
    }
} */

/* .slogan {
    margin-left: auto;
    margin-right: 0px;
    display: inline-block;
    font-weight: bold;
    font-size: 36pt;
    background: -webkit-linear-gradient(#E43CFF, #570A57);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

