@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

:root {
    --mswidth: 60vw;
    --msheight: 30vw;
    --twtH : 950px;
    --twtBS_a : 5px 5px 10px rgba(63, 163, 255, 0.5), inset 5px 5px 10px rgba(0, 0, 0, 0.25);
    --twtBS_b : 5px 5px 10px rgba(63, 163, 255, 0.5), inset 5px 5px 10px rgba(255, 255, 255, 0.25);
    --igH : 1300px;
    --igBS_a : 5px 5px 10px rgba(226, 91, 91, 0.5), inset 5px 5px 10px rgba(0, 0, 0, 0.25);
    --igBS_b : 5px 5px 10px rgba(226, 91, 91, 0.5), inset 5px 5px 10px rgba(255, 255, 255, 0.25);
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #00000070;
    border-radius: 3px;
}

body {
    background-image: url("material/background.jpg");
    background-size: cover;
    font-family: 'Montserrat';
    margin: 0;
    height: auto;
    overflow: overlay;
}

.back-button {
    position: absolute;
    width: 170px;
    height: 55px;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 15px;
    border: 5px solid #FFFFFF;
    background: linear-gradient(114.33deg, #DC92FF 0%, #9747FF 99.01%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 5px #FFFFFF;
    text-align: center;
    transition: all 500ms ease-in;
}

.back-button #text {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 900;
    line-height: 55px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.back-button:hover {
    cursor: pointer;
    background: linear-gradient(114.33deg, #9747FF 0%, #DC92FF 99.01%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-out;
    transform: scale(0.9);
}

.back-button > a {
    text-decoration: none;
}

.message {
    background-color: #FFFFFF;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: var(--mswidth);
    height: var(--msheight);
    margin: calc(50vh - (var(--msheight)/2)) calc(50vw - (var(--mswidth)/2));

    border-radius: 50px;
    border: 10px solid #000000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35), inset 5px 5px 25px rgba(0, 0, 0, 0.5);
}

.message > .container {
    width: 65%;
    height: 100%;
}

.message > .container > .msg-title {
    font-size: 28px;
    font-weight: 700;
    margin-top: calc(var(--mswidth) / 20);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.message > .container > .msg-input {
    width: calc(100% - 60px);
    height: 125px;
    margin-top: 30px;
    padding: 20px 30px 10px 30px;
    resize: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    background: #FFFFFF;
    outline: none;
    border: 5px solid #75FFF7;
    box-shadow: 5px 5px 10px rgba(63, 163, 255, 0.75), inset 5px 5px 10px rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    position: relative;
    right: 5px;
}

.msg-input::-webkit-scrollbar {
    width: 6px;
    height: 20px;
    background-color: transparent;
}

.msg-input::-webkit-scrollbar-thumb {
    background-color: #d3d3d3d3;
    border-radius: 3px;
}

.msg-input::-webkit-input-placeholder {
    text-align: center;
}

.message > .container > .platform {
    margin-top: 20px;
}

.message > .container > .platform > .platform-title {
    justify-content: flex-start;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.message > .container > .platform > .btn-cont > .button {
    clear: both;
    border-radius: 50%;
    margin-bottom: 25px;
}

.message > .container > .platform > .btn-cont > #twt-button {
    background-color: #FFFFFF;
    border: 4px solid #3FA3FF;
    box-shadow: var(--twtBS_b);
    display: flex;
    height: 45px;
    width: 45px;
}

.message > .container > .platform > .btn-cont > #twt-button > #twt-img {
    margin: auto;
    width: 30px;
    height: 30px;
}

.message > .container > .platform > .btn-cont > #ig-button {
    margin-left: 40px;
    background-color: #FFFFFF;
    border: 4px solid #E25B5B;
    box-shadow: var(--igBS_b);
    display: flex;
    height: 45px;
    width: 45px;
}

.message > .container > .platform > .btn-cont > #ig-button > #ig-img {
    margin: auto;
    width: 25px;
    height: 25px;
}

.message > .container > .platform > #msg-warn {
    color: #D0342C;
    margin-bottom: 30px;
}

.message > .container > .platform > #ig-preview {
    display: none;
}

.message > .container > .platform > #ig-preview > #preview-img {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 20vw;
    border: 4px solid #E25B5B;
    border-radius: 20px;
}

.message > .container > #post-button {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 5px solid #FFFFFF;
    background: linear-gradient(90deg, #75FFF7 0%, #3FA3FF 100%);
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 10px #FFFFFF;

    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

    display: none;
    transition: all 250ms;
}

.message > .container > #post-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: linear-gradient(90deg, #3FA3FF 0%, #E43CFF 100%);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    position: absolute;
    z-index: 1;
    right: calc((50vw - (var(--mswidth)/2)) - 100px);
    top: calc((50vh - (var(--msheight)/2)) - 160px);
}

@keyframes bounce {
    0%,
    20%,
    60% {
        transform: scale(1.03);
    }
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-3px) scale(1.07);
    }
    80% {
        transform: translateY(-2px) scale(1.05);
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    :root {
        --twtH : 800px;
        --twtBS_a : 4px 4px 10px rgba(63, 163, 255, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.25);
        --twtBS_b : 4px 4px 10px rgba(63, 163, 255, 0.5), inset 4px 4px 10px rgba(255, 255, 255, 0.25);
        --igH : 1100px;
        --igBS_a : 4px 4px 10px rgba(226, 91, 91, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.25);
        --igBS_b : 4px 4px 10px rgba(226, 91, 91, 0.5), inset 4px 4px 10px rgba(255, 255, 255, 0.25);
    }

    .back-button {
        width: 130px;
        height: 45px;
    }

    .back-button #text {
        font-size: 22px;
        line-height: 45px;
    }

    .message > .container > .msg-title {
        font-size: 1.6vw;
        margin-top: calc(var(--mswidth) / 25);
    }

    .message > .container > .msg-input {
        height: 9vw;
        font-size: 1.25vw;
        margin-top: 20px;
    }

    .logo img {
        max-width: 260px;
    }

    .logo {
        right: calc((50vw - (var(--mswidth)/2)) - 80px);
        top: calc((50vh - (var(--msheight)/2)) - 100px);
    }

    .message > .container > .platform {
        margin-top: 14px;
    }

    .message > .container > .platform > .platform-title {
        font-size: 1.3vw;
        margin-bottom: 12px;
    }

    .message > .container > .platform > .btn-cont > #twt-button {
        border-width: 3px;
        height: 3.5vw;
        width: 3.5vw;
    }
    
    .message > .container > .platform > .btn-cont > #twt-button > #twt-img {
        width: 2.3vw;
        height: 2.3vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button {
        margin-left: 30px;
        border-width: 3px;
        height: 3.5vw;
        width: 3.5vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button > #ig-img {
        width: 1.9vw;
        height: 1.9vw;
    }

    .message > .container > .platform > #msg-warn {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-text {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-img {
        margin-bottom: 15px;
        border-width: 3px;
    }

    .message > .container > #post-button {
        height: 35px;
        margin-bottom: 20px;
        border-width: 4px;
        font-weight: 900;
        font-size: 20px;
        line-height: 35px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --twtH : 600px;
        --twtBS_a : 3px 3px 10px rgba(63, 163, 255, 0.5), inset 3px 3px 10px rgba(0, 0, 0, 0.25);
        --twtBS_b : 3px 3px 10px rgba(63, 163, 255, 0.5), inset 3px 3px 10px rgba(255, 255, 255, 0.25);
        --igH : 900px;
        --igBS_a : 3px 3px 10px rgba(226, 91, 91, 0.5), inset 3px 3px 10px rgba(0, 0, 0, 0.25);
        --igBS_b : 3px 3px 10px rgba(226, 91, 91, 0.5), inset 3px 3px 10px rgba(255, 255, 255, 0.25);
    }

    .back-button {
        border-width: 4px;
        margin-left: 20px;
        margin-top: 20px;
        width: 105px;
        height: 38px;
    }

    .back-button #text {
        font-size: 18px;
        line-height: 38px;
    }

    .message {
        border-width: 6px;
    }

    .message > .container > .msg-title {
        font-size: 1.5vw;
        margin-top: calc(var(--mswidth) / 25);
    }

    .message > .container > .msg-input {
        height: 9vw;
        font-size: 1.1vw;
        margin-top: 15px;
        padding: 15px 20px 10px 20px;
    }

    .logo img {
        max-width: 200px;
    }

    .logo {
        right: calc((50vw - (var(--mswidth)/2)) - 60px);
        top: calc((50vh - (var(--msheight)/2)) - 80px);
    }

    .message > .container > .platform {
        margin-top: 12px;
    }

    .message > .container > .platform > .platform-title {
        font-size: 1.15vw;
        margin-bottom: 10px;
    }

    .message > .container > .platform > .btn-cont > .button {
        margin-bottom: 20px;
    }

    .message > .container > .platform > .btn-cont > #twt-button {
        border-width: 2.8px;
        height: 3.1vw;
        width: 3.1vw;
    }
    
    .message > .container > .platform > .btn-cont > #twt-button > #twt-img {
        width: 2vw;
        height: 2vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button {
        margin-left: 20px;
        border-width: 2.8px;
        height: 3.1vw;
        width: 3.1vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button > #ig-img {
        width: 1.65vw;
        height: 1.65vw;
    }

    .message > .container > .platform > #msg-warn {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-text {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-img {
        margin-top: 10px;
        margin-bottom: 10px;
        border-width: 3px;
    }

    .message > .container > #post-button {
        height: 25px;
        margin-bottom: 20px;
        border-width: 4px;
        font-weight: 900;
        font-size: 15px;
        line-height: 25px;
    }
}

@media (min-width: 569px) and (max-width: 768px) {
    :root {
        --twtH : 500px;
        --twtBS_a : 1px 1px 5px rgba(63, 163, 255, 0.5), inset 1px 1px 5px rgba(0, 0, 0, 0.25);
        --twtBS_b : 1px 1px 5px rgba(63, 163, 255, 0.5), inset 1px 1px 55px rgba(255, 255, 255, 0.25);
        --igH : 700px;
        --igBS_a : 1px 1px 5px rgba(226, 91, 91, 0.5), inset 1px 1px 5px rgba(0, 0, 0, 0.25);
        --igBS_b : 1px 1px 5px rgba(226, 91, 91, 0.5), inset 1px 1px 5px rgba(255, 255, 255, 0.25);
    }

    .back-button {
        border-width: 2px;
        margin-left: 12px;
        margin-top: 12px;
        width: 60px;
        height: 20px;
        border-radius: 8px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5), inset 0.5px 0.5px 5px #FFFFFF;
    }

    .back-button #text {
        font-size: 8px;
        font-weight: 900;
        line-height: 1;
        position: absolute;
        bottom: 7px;
        left: 14px;
    }

    .back-button:hover {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5), inset 1px 1px 8px rgba(0, 0, 0, 0.25);
    }

    .message {
        border-width: 4px;
        border-radius: 25px;
        box-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.35), inset 1.5px 1.5px 10px rgba(0, 0, 0, 0.5);
    }

    .message > .container > .msg-title {
        font-size: 1.5vw;
        margin-top: calc(var(--mswidth) / 25);
    }

    .message > .container > .msg-input {
        left: 1px;
        width: 30vw;
        height: 9vw;
        font-size: 1vw;
        margin-top: 10px;
        padding: 8px 12px 5px 12px;
        border-radius: 15px;
        border-width: 2px;
        box-shadow: 1.5px 1.5px 5px rgba(63, 163, 255, 0.75), inset 1.5px 1.5px 5px rgba(255, 255, 255, 0.25);
    }

    .logo img {
        max-width: 100px;
    }

    .logo {
        right: calc((50vw - (var(--mswidth)/2)) - 30px);
        top: calc((50vh - (var(--msheight)/2)) - 40px);
    }

    .message > .container > .platform {
        margin-top: 8px;
    }

    .message > .container > .platform > .platform-title {
        font-size: 1.15vw;
        margin-bottom: 10px;
    }

    .message > .container > .platform > .btn-cont > .button {
        margin-bottom: 12px;
    }

    .message > .container > .platform > .btn-cont > #twt-button {
        border-width: 2px;
        height: 3.1vw;
        width: 3.1vw;
    }
    
    .message > .container > .platform > .btn-cont > #twt-button > #twt-img {
        width: 2vw;
        height: 2vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button {
        margin-left: 12px;
        border-width: 2px;
        height: 3.1vw;
        width: 3.1vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button > #ig-img {
        width: 1.65vw;
        height: 1.65vw;
    }

    .message > .container > .platform > #msg-warn {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-text {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-img {
        margin-top: 7px;
        margin-bottom: 7px;
        border-width: 2px;
        border-radius: 8px;
    }

    .message > .container > #post-button {
        height: 20px;
        margin-bottom: 15px;
        border-width: 2px;
        font-weight: 900;
        font-size: 10px;
        line-height: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25);
    }

    .message > .container > #post-button:hover {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 426px) and (max-width: 568px) {
    :root {
        --twtH : 500px;
        --twtBS_a : 1px 1px 5px rgba(63, 163, 255, 0.5), inset 1px 1px 5px rgba(0, 0, 0, 0.25);
        --twtBS_b : 1px 1px 5px rgba(63, 163, 255, 0.5), inset 1px 1px 5px rgba(255, 255, 255, 0.25);
        --igH : 750px;
        --igBS_a : 1px 1px 5px rgba(226, 91, 91, 0.5), inset 1px 1px 5px rgba(0, 0, 0, 0.25);
        --igBS_b : 1px 1px 5px rgba(226, 91, 91, 0.5), inset 1px 1px 5px rgba(255, 255, 255, 0.25);
    }

    .back-button {
        border-width: 2px;
        margin-left: 12px;
        margin-top: 12px;
        width: 60px;
        height: 20px;
        border-radius: 8px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5), inset 0.5px 0.5px 5px #FFFFFF;
    }

    .back-button #text {
        font-size: 8px;
        font-weight: 900;
        line-height: 1;
        position: absolute;
        bottom: 7px;
        left: 14px;
    }

    .back-button:hover {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5), inset 1px 1px 8px rgba(0, 0, 0, 0.25);
    }

    .message {
        border-width: 4px;
        border-radius: 25px;
        box-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.35), inset 1.5px 1.5px 10px rgba(0, 0, 0, 0.5);
    }

    .message > .container > .msg-title {
        font-size: 1.5vw;
        margin-top: calc(var(--mswidth) / 25);
    }

    .message > .container > .msg-input {
        left: 1px;
        width: 30vw;
        height: 9vw;
        font-size: 1vw;
        margin-top: 10px;
        padding: 8px 12px 5px 12px;
        border-radius: 15px;
        border-width: 2px;
        box-shadow: 1.5px 1.5px 5px rgba(63, 163, 255, 0.75), inset 1.5px 1.5px 5px rgba(255, 255, 255, 0.25);
    }

    .logo img {
        max-width: 100px;
    }

    .logo {
        right: calc((50vw - (var(--mswidth)/2)) - 30px);
        top: calc((50vh - (var(--msheight)/2)) - 40px);
    }

    .message > .container > .platform {
        margin-top: 6px;
    }

    .message > .container > .platform > .platform-title {
        font-size: 1.15vw;
        margin-bottom: 6px;
    }

    .message > .container > .platform > .btn-cont > .button {
        margin-bottom: 12px;
    }

    .message > .container > .platform > .btn-cont > #twt-button {
        border-width: 1.75px;
        height: 3.1vw;
        width: 3.1vw;
    }
    
    .message > .container > .platform > .btn-cont > #twt-button > #twt-img {
        width: 2vw;
        height: 2vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button {
        margin-left: 10px;
        border-width: 1.75px;
        height: 3.1vw;
        width: 3.1vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button > #ig-img {
        width: 1.65vw;
        height: 1.65vw;
    }

    .message > .container > .platform > #msg-warn {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-text {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-img {
        margin-top: 7px;
        margin-bottom: 5px;
        border-width: 2px;
        border-radius: 8px;
    }

    .message > .container > #post-button {
        height: 3vw;
        margin-bottom: 10px;
        border-width: 2px;
        font-weight: 900;
        font-size: 8px;
        line-height: 3vw;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25);
    }

    .message > .container > #post-button:hover {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 425px) {
    :root {
        --mswidth: 85vw;
        --msheight: 70vw;
        --twtH : auto;
        --twtBS_a : 1px 1px 5px rgba(63, 163, 255, 0.5), inset 1px 1px 5px rgba(0, 0, 0, 0.25);
        --twtBS_b : 1px 1px 5px rgba(63, 163, 255, 0.5), inset 1px 1px 5px rgba(255, 255, 255, 0.25);
        --igH : auto;
        --igBS_a : 1px 1px 5px rgba(226, 91, 91, 0.5), inset 1px 1px 5px rgba(0, 0, 0, 0.25);
        --igBS_b : 1px 1px 5px rgba(226, 91, 91, 0.5), inset 1px 1px 5px rgba(255, 255, 255, 0.25);
    }

    .back-button {
        border-width: 2px;
        margin-left: 12px;
        margin-top: 12px;
        width: 75px;
        height: 25px;
        border-radius: 6px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5), inset 0.25px 0.25px 5px #FFFFFF;
    }

    .back-button #text {
        font-size: 10px;
        font-weight: 900;
        line-height: 1;
        position: absolute;
        bottom: 7px;
        left: 18px;
    }

    .back-button:hover {
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5), inset 0.25px 0.25px 8px rgba(0, 0, 0, 0.25);
    }

    .message {
        border-width: 2px;
        border-radius: 20px;
        box-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.35), inset 1.5px 1.5px 10px rgba(0, 0, 0, 0.5);
        margin: 18vw calc(50vw - (var(--mswidth)/2)) 0 calc(50vw - (var(--mswidth)/2));
    }

    .message > .container {
        width: 80%;
    }

    .message > .container > .msg-title {
        font-size: 3.5vw;
        margin-top: calc(var(--mswidth) / 18);
    }

    .message > .container > .msg-input {
        left: 0.5px;
        width: 80%;
        height: 18vw;
        font-size: 2.5vw;
        margin-top: 20px;
        padding: 8px 12px 5px 12px;
        border-radius: 10px;
        border-width: 2px;
        box-shadow: 1.5px 1.5px 5px rgba(63, 163, 255, 0.75), inset 1.5px 1.5px 5px rgba(255, 255, 255, 0.25);
    }

    .logo img {
        max-width: 100px;
    }

    .logo {
        right: calc((50vw - (var(--mswidth)/2)) - 25px);
        top: calc(18vw - 40px);
    }

    .message > .container > .platform {
        margin-top: 20px;
    }

    .message > .container > .platform > .platform-title {
        font-size: 2.8vw;
        margin-bottom: 10px;
    }

    .message > .container > .platform > .btn-cont > .button {
        margin-bottom: 20px;
    }

    .message > .container > .platform > .btn-cont > #twt-button {
        border-width: 2px;
        height: 30px;
        width: 30px;
    }
    
    .message > .container > .platform > .btn-cont > #twt-button > #twt-img {
        width: 18px;
        height: 18px;
        margin: auto;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button {
        margin-left: 20px;
        border-width: 2px;
        height: 30px;
        width: 30px;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button > #ig-img {
        width: 16px;
        height: 16px;
    }

    .message > .container > .platform > #msg-warn {
        font-size: 3vw;
    }

    .message > .container > .platform > #ig-preview > #preview-text {
        font-size: 3vw;
    }

    .message > .container > .platform > #ig-preview > #preview-img {
        margin-top: 6px;
        margin-bottom: 15px;
        border-width: 2px;
        border-radius: 8px;
        width: 45vw;
    }

    .message > .container > #post-button {
        height: 8vw;
        margin-bottom: 20px;
        border-width: 2px;
        font-weight: 900;
        font-size: 14px;
        line-height: 8vw;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25);
    }

    .message > .container > #post-button:hover {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
}