@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

:root {
    --mswidth: 60vw;
    --msheight: 30vw;
    --twtH : 950px;
    --twtBS_a : 5px 5px 10px rgba(63, 163, 255, 0.5), inset 5px 5px 10px rgba(0, 0, 0, 0.25);
    --twtBS_b : 5px 5px 10px rgba(63, 163, 255, 0.5), inset 5px 5px 10px rgba(255, 255, 255, 0.25);
    --igH : 1500px;
    --igBS_a : 5px 5px 10px rgba(226, 91, 91, 0.5), inset 5px 5px 10px rgba(0, 0, 0, 0.25);
    --igBS_b : 5px 5px 10px rgba(226, 91, 91, 0.5), inset 5px 5px 10px rgba(255, 255, 255, 0.25);
}

a, a::before, a::after {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #00000070;
    border-radius: 3px;
}

body {
    background-image: url("material/background.jpg");
    background-size: cover;
    font-family: 'Montserrat';
    margin: 0;
    height: auto;
    overflow: overlay;
}

.back-button {
    position: absolute;
    width: 170px;
    height: 55px;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 15px;
    border: 5px solid #FFFFFF;
    background: linear-gradient(114.33deg, #DC92FF 0%, #9747FF 99.01%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 5px #FFFFFF;
    text-align: center;
    transition: all 500ms ease-in;
}

.back-button #text {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 900;
    line-height: 55px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.back-button:hover {
    cursor: pointer;
    background: linear-gradient(114.33deg, #9747FF 0%, #DC92FF 99.01%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-out;
    transform: scale(0.9);
}

.message {
    background-color: #FFFFFF;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: var(--mswidth);
    height: var(--msheight);
    margin: calc(50vh - (var(--msheight)/2)) calc(50vw - (var(--mswidth)/2));

    border-radius: 50px;
    border: 10px solid #000000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35), inset 5px 5px 25px rgba(0, 0, 0, 0.5);
}

.message > .container {
    width: 65%;
    height: 100%;
}

.message > .container > .msg-title {
    font-size: 28px;
    font-weight: 700;
    margin-top: calc(var(--mswidth) / 20);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.message > .container > .msg-input {
    width: calc(100% - 60px);
    height: 125px;
    margin-top: 30px;
    padding: 20px 30px 10px 30px;
    resize: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    background: #FFFFFF;
    outline: none;
    border: 5px solid #75FFF7;
    box-shadow: 5px 5px 10px rgba(63, 163, 255, 0.75), inset 5px 5px 10px rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    position: relative;
    right: 5px;
}

.msg-input::-webkit-scrollbar {
    width: 6px;
    height: 20px;
    background-color: transparent;
}

.msg-input::-webkit-scrollbar-thumb {
    background-color: #d3d3d3d3;
    border-radius: 3px;
}

.msg-input::-webkit-input-placeholder {
    text-align: center;
}

.message > .container > .platform {
    margin-top: 20px;
}

.message > .container > .platform > .platform-title {
    justify-content: flex-start;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    user-select: none;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.message > .container > .platform > .btn-cont > .button {
    clear: both;
    border-radius: 50%;
    margin-bottom: 25px;
}

.message > .container > .platform > .btn-cont > #twt-button {
    background-color: #FFFFFF;
    border: 4px solid #3FA3FF;
    box-shadow: var(--twtBS_b);
    display: flex;
    height: 45px;
    width: 45px;
}

.message > .container > .platform > .btn-cont > #twt-button > #twt-img {
    pointer-events: none;
    margin: auto;
    width: 30px;
    height: 30px;
    user-select: none;
}

.message > .container > .platform > .btn-cont > #ig-button {
    margin-left: 40px;
    background-color: #FFFFFF;
    border: 4px solid #E25B5B;
    box-shadow: var(--igBS_b);
    display: flex;
    height: 45px;
    width: 45px;
}

.message > .container > .platform > .btn-cont > #ig-button > #ig-img {
    pointer-events: none;
    margin: auto;
    width: 25px;
    height: 25px;
    user-select: none;
}

.message > .container > .platform > #msg-warn {
    color: #D0342C;
    margin-bottom: 30px;
    user-select: none;
}

.message > .container > .platform > #ig-preview {
    display: none;
}

.message > .container > .platform > #ig-preview > #preview-text {
    user-select: none;
}

.message > .container > .platform > #ig-preview > #preview-loading {
    display: none;
    margin: 15px auto 25px auto;
    width: 20vw;
    height: 20vw;
    border: 4px solid #E25B5B;
    border-radius: 20px;
    position: relative;
}

.message > .container > .platform > #ig-preview > #preview-loading > #element::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    border: 2px solid #CCCCCC;
    border-top-color: #E25B5B;
    animation: spinner .6s linear infinite;
}

.message > .container > .platform > #ig-preview > #preview-img {
    margin: 15px auto 25px auto;
    width: 20vw;
    border: 4px solid #E25B5B;
    border-radius: 20px;
    pointer-events: none;
    user-select: none;
}

.message > .container > #post-button {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 5px solid #FFFFFF;
    background: linear-gradient(90deg, #75FFF7 0%, #3FA3FF 100%);
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 10px #FFFFFF;

    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    user-select: none;

    display: none;
    transition: all 250ms;
}

.message > .container > #post-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: linear-gradient(90deg, #3FA3FF 0%, #E43CFF 100%);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    right: calc((50vw - (var(--mswidth)/2)) - 100px);
    top: calc((50vh - (var(--msheight)/2)) - 160px);
    user-select: none;
}

.n-cont {
    display: none;
}

.n-cont > .n-bg {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
}

.n-cont > .n-bg > .n-border {
    background: linear-gradient(-45deg, #DC92FF 30%, #75FFF7);
    width: 35vw;
    height: 25vw;
    /* height: fit-content; */
    border-radius: 30px;
    display: flex;
    margin: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 0.1vw 1px;
    /* padding: 6px 1px; */
}

.n-cont > .n-bg > .n-border > .n-blank {
    background-color: #FFFFFF;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 26px;
    margin: auto;
}

.n-cont > .n-bg > .n-border > .n-blank > .n-loading {
    display: none;
}

.n-cont h1 {
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
    margin-top: 2vw;
    margin-bottom: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.n-cont p {
    text-align: center;
    font-size: 1.2vw;
    margin: 2px 10px 2.5vw;
    user-select: none;
}

.n-cont > .n-bg > .n-border > .n-blank > .n-loading > .n-element::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    border: 3px solid #CCCCCC;
    border-right-color: #3FA3FF;
    border-top-color: #9747FF;
    animation: spinner .6s linear infinite;
}

.n-cont > .n-bg > .n-border > .n-blank > .n-success {
    display: none;
}

.n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-btn {
    width: 60%;
    height: 3.5vw;
    margin: 1.8vw auto 0;
    border-radius: 50px;
    display: flex;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

.n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-btn > p {
    color: #FFFFFF;
    font-size: 2vw;
    margin: auto;
    position: relative;
    bottom: 0.15vw;
}

.n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-twt {
    background-color: #3FA3FF;
}

.n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-twt > img {
    width: 2.5vw;
    margin: auto;
    position: relative;
    left: -0.5vw;
    filter: brightness(0) invert(1);
    pointer-events: none;
    user-select: none;
}

.n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-twt > p {
    left: -3.5vw;
}

.n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-ig {
    background-color: #E25B5B;
}

.n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-ig > img {
    width: 2.2vw;
    margin: auto;
    position: relative;
    left: -0.1vw;
    filter: brightness(0) invert(1);
    pointer-events: none;
    user-select: none;
}

.n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-ig > p {
    left: -2.4vw;
}

.n-cont .n-page {
    background: linear-gradient(-45deg, #DC92FF 15%, #75FFF7);
    width: 40%;
    height: 5vw;
    margin: 4vw auto 2vw;
    font-size: 0;
    text-align: center;
    padding: 5px 2px 0;
    border-radius: 100px;
}

.n-cont .n-go {
    width: calc(50% - 5px);
    height: calc(100% - 5px);
    margin: 0;
    display: inline-block;
}

.n-cont .n-home {
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
    border-right: 2px solid #FFFFFF;
    float: left;
    margin-left: 3px;
    display: flex;
}

.n-cont .n-home img {
    margin: auto;
    width: 3.5vw;
    filter: brightness(0) invert(1);
    user-select: none;
}

.n-cont .n-try {
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
    display: flex;
}

.n-cont .n-try img {
    margin: auto;
    width: 2.8vw;
    filter: brightness(0) invert(1);
    user-select: none;
}

.n-cont > .n-bg > .n-border > .n-blank > .n-failed {
    display: none;
}

.n-icon {
    width: 7.5vw;
    display: block;
    margin: 2.5vw auto 0;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.circle {
    -webkit-animation: dash 1s ease-in-out;
    animation: dash 1s ease-in-out;
}

.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 1s .35s ease-in-out forwards;
    animation: dash 1s .35s ease-in-out forwards;
}

.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 1s .35s ease-in-out forwards;
    animation: dash-check 1s .35s ease-in-out forwards;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@keyframes bounce {
    0%,
    20%,
    60% {
        transform: scale(1.03);
    }
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-3px) scale(1.07);
    }
    80% {
        transform: translateY(-2px) scale(1.05);
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    :root {
        --twtH : 800px;
        --twtBS_a : 4px 4px 10px rgba(63, 163, 255, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.25);
        --twtBS_b : 4px 4px 10px rgba(63, 163, 255, 0.5), inset 4px 4px 10px rgba(255, 255, 255, 0.25);
        --igH : 1300px;
        --igBS_a : 4px 4px 10px rgba(226, 91, 91, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.25);
        --igBS_b : 4px 4px 10px rgba(226, 91, 91, 0.5), inset 4px 4px 10px rgba(255, 255, 255, 0.25);
    }

    .back-button {
        width: 130px;
        height: 45px;
    }

    .back-button #text {
        font-size: 22px;
        line-height: 45px;
    }

    .message > .container > .msg-title {
        font-size: 1.6vw;
        margin-top: calc(var(--mswidth) / 25);
    }

    .message > .container > .msg-input {
        height: 9vw;
        font-size: 1.25vw;
        margin-top: 20px;
    }

    .logo img {
        max-width: 260px;
    }

    .logo {
        right: calc((50vw - (var(--mswidth)/2)) - 80px);
        top: calc((50vh - (var(--msheight)/2)) - 100px);
    }

    .message > .container > .platform {
        margin-top: 14px;
    }

    .message > .container > .platform > .platform-title {
        font-size: 1.3vw;
        margin-bottom: 12px;
    }

    .message > .container > .platform > .btn-cont > #twt-button {
        border-width: 3px;
        height: 3.5vw;
        width: 3.5vw;
    }
    
    .message > .container > .platform > .btn-cont > #twt-button > #twt-img {
        width: 2.3vw;
        height: 2.3vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button {
        margin-left: 30px;
        border-width: 3px;
        height: 3.5vw;
        width: 3.5vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button > #ig-img {
        width: 1.9vw;
        height: 1.9vw;
    }

    .message > .container > .platform > #msg-warn {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-text {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-loading {
        margin-bottom: 15px;
        border-width: 3px;
    }

    .message > .container > .platform > #ig-preview > #preview-img {
        margin-bottom: 15px;
        border-width: 3px;
    }

    .message > .container > #post-button {
        height: 35px;
        margin-bottom: 20px;
        border-width: 4px;
        font-weight: 900;
        font-size: 20px;
        line-height: 35px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --twtH : 600px;
        --twtBS_a : 3px 3px 10px rgba(63, 163, 255, 0.5), inset 3px 3px 10px rgba(0, 0, 0, 0.25);
        --twtBS_b : 3px 3px 10px rgba(63, 163, 255, 0.5), inset 3px 3px 10px rgba(255, 255, 255, 0.25);
        --igH : 900px;
        --igBS_a : 3px 3px 10px rgba(226, 91, 91, 0.5), inset 3px 3px 10px rgba(0, 0, 0, 0.25);
        --igBS_b : 3px 3px 10px rgba(226, 91, 91, 0.5), inset 3px 3px 10px rgba(255, 255, 255, 0.25);
    }

    .back-button {
        border-width: 4px;
        margin-left: 20px;
        margin-top: 20px;
        width: 105px;
        height: 38px;
    }

    .back-button #text {
        font-size: 18px;
        line-height: 38px;
    }

    .message {
        border-width: 6px;
        border-radius: 30px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35), inset 2px 2px 25px rgba(0, 0, 0, 0.5);
    }

    .message > .container > .msg-title {
        font-size: 1.5vw;
        margin-top: calc(var(--mswidth) / 25);
    }

    .message > .container > .msg-input {
        height: 9vw;
        font-size: 1.1vw;
        margin-top: 15px;
        padding: 15px 20px 10px 20px;
        border-radius: 20px;
    }

    .logo img {
        max-width: 200px;
    }

    .logo {
        right: calc((50vw - (var(--mswidth)/2)) - 60px);
        top: calc((50vh - (var(--msheight)/2)) - 80px);
    }

    .message > .container > .platform {
        margin-top: 12px;
    }

    .message > .container > .platform > .platform-title {
        font-size: 1.15vw;
        margin-bottom: 10px;
    }

    .message > .container > .platform > .btn-cont > .button {
        margin-bottom: 20px;
    }

    .message > .container > .platform > .btn-cont > #twt-button {
        border-width: 2.8px;
        height: 3.1vw;
        width: 3.1vw;
    }
    
    .message > .container > .platform > .btn-cont > #twt-button > #twt-img {
        width: 2vw;
        height: 2vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button {
        margin-left: 20px;
        border-width: 2.8px;
        height: 3.1vw;
        width: 3.1vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button > #ig-img {
        width: 1.65vw;
        height: 1.65vw;
    }

    .message > .container > .platform > #msg-warn {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-text {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-loading {
        margin-top: 10px;
        margin-bottom: 10px;
        border-width: 3px;
    }

    .message > .container > .platform > #ig-preview > #preview-img {
        margin-top: 10px;
        margin-bottom: 10px;
        border-width: 3px;
    }

    .message > .container > #post-button {
        height: 25px;
        margin-bottom: 20px;
        border-width: 4px;
        font-weight: 900;
        font-size: 15px;
        line-height: 25px;
    }

    .n-cont > .n-bg > .n-border > .n-blank > .n-loading > .n-element::before {
        width: 70px;
        height: 70px;
        margin-top: -35px;
        margin-left: -35px;
        border-width: 2px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    :root {
        --twtH : 500px;
        --twtBS_a : 1px 1px 5px rgba(63, 163, 255, 0.5), inset 1px 1px 5px rgba(0, 0, 0, 0.25);
        --twtBS_b : 1px 1px 5px rgba(63, 163, 255, 0.5), inset 1px 1px 55px rgba(255, 255, 255, 0.25);
        --igH : 700px;
        --igBS_a : 1px 1px 5px rgba(226, 91, 91, 0.5), inset 1px 1px 5px rgba(0, 0, 0, 0.25);
        --igBS_b : 1px 1px 5px rgba(226, 91, 91, 0.5), inset 1px 1px 5px rgba(255, 255, 255, 0.25);
    }

    .back-button {
        border-width: 2px;
        margin-left: 12px;
        margin-top: 12px;
        width: 60px;
        height: 20px;
        border-radius: 8px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5), inset 0.5px 0.5px 5px #FFFFFF;
    }

    .back-button #text {
        font-size: 8px;
        font-weight: 900;
        line-height: 1;
        position: absolute;
        bottom: 7px;
        left: 14px;
    }

    .back-button:hover {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5), inset 1px 1px 8px rgba(0, 0, 0, 0.25);
    }

    .message {
        border-width: 4px;
        border-radius: 25px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35), inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .message > .container > .msg-title {
        font-size: 1.5vw;
        margin-top: calc(var(--mswidth) / 25);
    }

    .message > .container > .msg-input {
        left: 1px;
        width: 30vw;
        height: 9vw;
        font-size: 1vw;
        margin-top: 10px;
        padding: 8px 12px 5px 12px;
        border-radius: 15px;
        border-width: 2px;
        box-shadow: 1.5px 1.5px 5px rgba(63, 163, 255, 0.75), inset 1.5px 1.5px 5px rgba(255, 255, 255, 0.25);
    }

    .logo img {
        max-width: 100px;
    }

    .logo {
        right: calc((50vw - (var(--mswidth)/2)) - 30px);
        top: calc((50vh - (var(--msheight)/2)) - 40px);
    }

    .message > .container > .platform {
        margin-top: 8px;
    }

    .message > .container > .platform > .platform-title {
        font-size: 1.15vw;
        margin-bottom: 10px;
    }

    .message > .container > .platform > .btn-cont > .button {
        margin-bottom: 12px;
    }

    .message > .container > .platform > .btn-cont > #twt-button {
        border-width: 2px;
        height: 3.1vw;
        width: 3.1vw;
    }
    
    .message > .container > .platform > .btn-cont > #twt-button > #twt-img {
        width: 2vw;
        height: 2vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button {
        margin-left: 12px;
        border-width: 2px;
        height: 3.1vw;
        width: 3.1vw;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button > #ig-img {
        width: 1.65vw;
        height: 1.65vw;
    }

    .message > .container > .platform > #msg-warn {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-text {
        font-size: 1.1vw;
    }

    .message > .container > .platform > #ig-preview > #preview-loading {
        margin-top: 7px;
        margin-bottom: 7px;
        border-width: 2px;
        border-radius: 8px;
    }

    .message > .container > .platform > #ig-preview > #preview-img {
        margin-top: 7px;
        margin-bottom: 7px;
        border-width: 2px;
        border-radius: 8px;
    }

    .message > .container > #post-button {
        height: 20px;
        margin-bottom: 15px;
        border-width: 2px;
        font-weight: 900;
        font-size: 10px;
        line-height: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25);
    }

    .message > .container > #post-button:hover {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .n-cont > .n-bg > .n-border {
        border-radius: 20px;
    }
    
    .n-cont > .n-bg > .n-border > .n-blank {
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        border-radius: 16px;
    }

    .n-cont > .n-bg > .n-border > .n-blank > .n-loading > .n-element::before {
        width: 54px;
        height: 54px;
        margin-top: -27px;
        margin-left: -27px;
        border-width: 2px;
    }
}

@media (max-width: 575px) {
    :root {
        --mswidth: 85vw;
        --msheight: 70vw;
        --twtH : auto;
        --twtBS_a : 1px 1px 5px rgba(63, 163, 255, 0.5), inset 1px 1px 5px rgba(0, 0, 0, 0.25);
        --twtBS_b : 1px 1px 5px rgba(63, 163, 255, 0.5), inset 1px 1px 5px rgba(255, 255, 255, 0.25);
        --igH : auto;
        --igBS_a : 1px 1px 5px rgba(226, 91, 91, 0.5), inset 1px 1px 5px rgba(0, 0, 0, 0.25);
        --igBS_b : 1px 1px 5px rgba(226, 91, 91, 0.5), inset 1px 1px 5px rgba(255, 255, 255, 0.25);
    }

    * {
        cursor: default;
        -webkit-tap-highlight-color: transparent;
    }

    .back-button {
        border-width: 2px;
        margin-left: 12px;
        margin-top: 12px;
        width: 75px;
        height: 25px;
        border-radius: 6px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5), inset 0.25px 0.25px 5px #FFFFFF;
    }

    .back-button #text {
        font-size: 10px;
        font-weight: 900;
        line-height: 1;
        position: absolute;
        bottom: 7px;
        left: 17px;
    }

    .back-button:hover {
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5), inset 0.25px 0.25px 8px rgba(0, 0, 0, 0.25);
    }

    .message {
        border-width: 3px;
        border-radius: 20px;
        box-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.35), inset 1.5px 1.5px 10px rgba(0, 0, 0, 0.5);
        margin: 18vw calc(50vw - (var(--mswidth)/2)) 0 calc(50vw - (var(--mswidth)/2));
    }

    .message > .container {
        width: 80%;
    }

    .message > .container > .msg-title {
        font-size: 3.5vw;
        margin-top: calc(var(--mswidth) / 18);
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    }

    .message > .container > .msg-input {
        left: 0.5px;
        width: 80%;
        height: 18vw;
        font-size: 2.5vw;
        margin-top: 20px;
        padding: 8px 12px 5px 12px;
        border-radius: 10px;
        border-width: 2px;
        box-shadow: 1.5px 1.5px 5px rgba(63, 163, 255, 0.75), inset 1.5px 1.5px 5px rgba(255, 255, 255, 0.25);
    }

    .logo img {
        max-width: 100px;
    }

    .logo {
        right: calc((50vw - (var(--mswidth)/2)) - 25px);
        top: calc(18vw - 40px);
    }

    .message > .container > .platform {
        margin-top: 20px;
    }

    .message > .container > .platform > .platform-title {
        font-size: 2.8vw;
        margin-bottom: 10px;
    }

    .message > .container > .platform > .btn-cont > .button {
        margin-bottom: 20px;
    }

    .message > .container > .platform > .btn-cont > #twt-button {
        border-width: 2px;
        height: 30px;
        width: 30px;
    }
    
    .message > .container > .platform > .btn-cont > #twt-button > #twt-img {
        width: 18px;
        height: 18px;
        margin: auto;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button {
        margin-left: 20px;
        border-width: 2px;
        height: 30px;
        width: 30px;
    }
    
    .message > .container > .platform > .btn-cont > #ig-button > #ig-img {
        width: 16px;
        height: 16px;
    }

    .message > .container > .platform > #msg-warn {
        font-size: 3vw;
    }

    .message > .container > .platform > #ig-preview > #preview-text {
        font-size: 3vw;
    }

    .message > .container > .platform > #ig-preview > #preview-loading {
        margin-top: 6px;
        margin-bottom: 15px;
        border-width: 2px;
        border-radius: 8px;
        width: 45vw;
        height: 45vw;
    }

    .message > .container > .platform > #ig-preview > #preview-img {
        margin-top: 6px;
        margin-bottom: 15px;
        border-width: 2px;
        border-radius: 8px;
        width: 45vw;
    }

    .message > .container > #post-button {
        height: 8vw;
        margin-bottom: 20px;
        border-width: 2px;
        font-weight: 900;
        font-size: 14px;
        line-height: 8vw;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25);
    }

    .message > .container > #post-button:hover {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .n-cont > .n-bg > .n-border {
        width: 250px;
        height: 200px;
        border-radius: 25px;
    }
    
    .n-cont > .n-bg > .n-border > .n-blank {
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        border-radius: 22px;
    }

    .n-cont h1 {
        font-size: 20px;
        margin-top: 15px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    .n-cont p {
        font-size: 12px;
    }

    .n-cont > .n-bg > .n-border > .n-blank > .n-loading > .n-element::before {
        width: 60px;
        height: 60px;
        margin-top: -30px;
        margin-left: -30px;
        border-width: 2px;
    }

    .n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-btn {
        width: 70%;
        height: 40px;
        margin: 15px auto 0;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-btn > p {
        font-size: 16px;
    }

    .n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-twt > img {
        width: 20px;
    }

    .n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-twt > p {
        left: -30px;
    }

    .n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-ig > img {
        width: 18px;
        left: 0;
    }

    .n-cont > .n-bg > .n-border > .n-blank > .n-success > a > .n-ig > p {
        left: -21px;
    }

    .n-cont .n-page {
        width: 50%;
        height: 30px;
        margin: 30px auto 10px;
    }
    
    .n-cont .n-home {
        border-width: 1px;
    }
    
    .n-cont .n-home img {
        width: 22px;
    }
    
    .n-cont .n-try img {
        width: 16px;
    }

    .n-icon {
        width: 50px;
        margin-top: 20px;
    }
}