<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="Assets/message-style.css">
        <link rel ="icon" href ="Assets/material/usayit-icon.png" type = "image/x-icon">
        <title>uSayit | Message</title>
    </head>
    <body id="body">
        <a href="index.html"><div class="back-button"><span id="text">< BACK</span></div></a>
        <div class="logo"><img src="Assets/material/usayit-logo.png" alt="uSayit Logo"></div>
        <div class="message" id="message">
            <div class="container">
                <div class="msg-title">Enter The Words of Yours</div>
                <textarea class="msg-input" id="msg-input" type="text" placeholder="Type your words here..." onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Type your words here...'" spellcheck="false"></textarea>
                <div class="platform">
                    <div class="platform-title">Choose The Platform(s) :</div>
                    <div class="btn-cont">
                        <div class="button" id="twt-button"><img id="twt-img" src="Assets/material/twt.svg"></div>
                        <div class="button" id="ig-button"><img id="ig-img" src="Assets/material/ig.svg"></div>
                    </div>
                    <div id="msg-warn"></div>
                    <div id="ig-preview">
                        <div id="preview-text">Instagram Preview</div>
                        <div id="preview-loading"><div id="element"></div></div>
                        <img id="preview-img" src="" alt="">
                    </div>
                </div>
                <div id="post-button">POST !T</div>
            </div>
        </div>
        <div class="n-cont">
            <div class="n-bg">
                <div class="n-border">
                    <div class="n-blank">
                        <div class="n-loading">
                            <h1>POSTING...</h1>
                            <div class="n-element"></div>
                        </div>
                        <div class="n-success">
                            <svg class="n-icon" viewBox="0 0 130.2 130.2">
                                <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                            </svg>
                            <h1>Success!</h1>
                            <p>Check your message on our official account</p>
                            <a href="https://twitter.com/usayit_" target="_blank">
                                <div class="n-twt n-btn">
                                    <img class="n-twt-img" src="Assets/material/twt.svg">
                                    <p>| @usayit_</p>
                                </div>
                            </a>
                            <a href="https://www.instagram.com/usayit_/" target="_blank">
                                <div class="n-ig n-btn">
                                    <img class="n-ig-img" src="Assets/material/ig.svg">
                                    <p>| @usayit.id</p>
                                </div>
                            </a>
                            <div class="n-page">
                                <a href="index.html"><div class="n-go n-home"><img src="Assets/material/home.png"></div></a>
                                <a href="Message.html"><div class="n-go n-try"><img src="Assets/material/try.png"></div></a>
                            </div>
                        </div>
                        <div class="n-failed">
                            <svg class="n-icon" viewBox="0 0 130.2 130.2">
                                <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
                                <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
                            </svg>
                            <h1>Failed!</h1>
                            <p>Internal error, please try again later</p>
                            <div class="n-page">
                                <a href="index.html"><div class="n-go n-home"><img src="Assets/material/home.png"></div></a>
                                <a href="Message.html"><div class="n-go n-try"><img src="Assets/material/try.png"></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="Assets/message-script.js"></script>
    </body>
</html>
